@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    background-image: url('/static/images/picture-1.jpg');
    /* background: linear-gradient(
            0deg
            ,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/static/images/picture-1.jpg");  */
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.car{
    animation-delay:0.8s;
    font-family: 'Aclonica', sans-serif;
    font-size: 3.5rem;
    color: #bbb;
    position: relative;
    top: 18rem;
}
.car-1{
    animation-delay:0.2s;
    color: #bbb;
    position: relative;
    bottom: -22.5rem;
}
hr.solid {
    border-top: 3px solid #bbb;
    position: relative;
    top: 20rem;
}
.example{
    position: relative;
    top: 2.6rem;
}
.vl {
    border-left: 3px solid #bbb;
    height: 12vh;
    margin-left: 20.5px;
}