@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    background-image: url('/static/images/picture-1.jpg');
    /* background: linear-gradient(
            0deg
            ,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/static/images/picture-1.jpg");  */
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.car{
    animation-delay:0.8s;
    font-family: 'Aclonica', sans-serif;
    font-size: 3rem;
    text-decoration: underline;
    color: rgba(240, 248, 255, 0.424);
}
.vl {
    border-left: 3px solid rgba(240, 240, 240, 0.808);
    height: 12vh;
    margin-left: 20.5px;
}