@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    background: linear-gradient(
            0deg
            ,rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("/static/images/picture-1.jpg"); 
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.you{
    position: relative;
    top: -6rem;
}
.car{
    animation-delay:0.8s;
    font-family: 'Aclonica', sans-serif;
    font-size: 5rem;
    color: rgba(251, 251, 251, 0.952);
    position: relative;
    top: 16rem;
    text-shadow: 2px 2px 2px solid black;
}
.car-1{
    animation-delay:0.2s;
    color: rgba(251, 251, 251, 0.952);
    position: relative;
    bottom: -22rem;
    text-shadow: 2px 2px 2px solid black;
}
hr.solid {
    border-top: 3px solid #bbb;
    position: relative;
    top: 19.5rem;
}
.example{
    position: relative;
    top: -12rem;
}
.vl {
    border-left: 3px solid #bbb;
    height: 15vh;
    margin-left: 20.5px;
}
.story{
    color: rgba(251, 251, 251, 0.952);
    font-size: 4vh;
    font-family: 'Old Standard TT', serif;
    text-shadow: 2px 2px 2px solid black;
}
.btn-outline-danger{
    border-radius: 10px;
}