@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/* font-family: 'MonteCarlo', cursive; {for decoration }*/
/* font-family: 'Old Standard TT', serif;  {for notes } */
/* font-family: 'Aclonica', sans-serif; {for headings }*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
   margin-left: 15vw;
   text-shadow: 2px 2px 2px solid black;
   background-color: #7799bb4f;
}
.mol{
    background-color: #7799bbbe;
}
.tic{
   font-family: 'Old Standard TT', serif; 
}
.all{
    font-family: 'Aclonica', sans-serif;  
}

.card-title{
    
    font-family: 'Aclonica', sans-serif; 
}
.btn{
    font-family: 'Old Standard TT', serif;
   
}