{% extends 'base.html'%}

{% block css %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/about.css') }}">
{% endblock %}


{% block content %}
    <body>
        <div class="container">
            <h2 style="font-family: 'Aclonica', sans-serif; "> New Articles</h2>
            <hr>
            <div class="row">
                {% for article in articles %}
                <div class="card m-2" style="width: 18rem;">
                    <img src="{{ article.title }}" class="card-img-top"
                    alt="...">
                    <div class="card-body">
                        <h5 class="card-title ">{{ article.urlToImage }}</h5>
                        <p class = "text-muted">By:{{ article.author}}</p>
                        <h3 class="card-text">
                        {{ article.description | truncate(80) }}
                        </h3>
                        <p class="text">Created at: {{ article.publishedAt }};</p>
                        <a href="{{article.url}}" class="btn btn-outline-danger" data-mdb-ripple-color="dark">continue..</a>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}

