{% extends "base.html" %}

{% block css %} 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">
{% endblock %}

{% block content %}

    <body class="back">

        <div class="container">
            <div class="container d-flex justify-content-between">
                <div>
                    <h1 class="" style="font-size: 1.4vw; color: rgb(255, 251, 251); font-family: 'Merienda', cursive; text-shadow: 2px,2px,3px black;">Created</h1>
                    <p style="font-size: 0.7vw; color: rgb(255, 255, 255); font-family: 'Kaushan Script', cursive; text-shadow: 2px,2px,3px;">by carbon</p>
                </div>
                <div>
                    <h1 style="font-size: 1.4vw; color: rgb(255, 251, 251); font-family: 'Merienda', cursive; text-shadow: 2px,2px,3px black;">Word for word </h1>
                    <p style="font-size: 0.7vw; color: rgb(255, 255, 255); font-family: 'Kaushan Script', cursive; text-shadow: 2px,2px,3px black;">Your voice matters</p>
                </div>
            </div>
            <div class="you">
                <div class="car" >
                    <h1 class="text-center animated fadeInUp">WELCOME TO NEWS API</h1>
                </div>
                <hr class="solid">
                <div class="car-1 text-center animated fadeInDown">
                    <div><p class="story">Setting the news agenda Every story, every side The whole picture Hear the human story</p></div>
                    <div><h4 class="by" style="font-family: 'MonteCarlo', cursive; color:rgb(254, 254, 255);">By<br></h4><h1 style="font-family: 'Aclonica', sans-serif;">Carbon</h></div>
                    <div><button type="button" class="btn btn-outline-danger" style="font-family: 'Old Standard TT', serif;" data-mdb-ripple-color="dark">
                        Read more
                    </button></div>
                    
                </div>
            </div>
        </div>
            
            
        <div class="example"> 
            <div class="vl"></div>
            <div><img src="https://img.icons8.com/color/48/000000/instagram-new.png" width="40px"/>
                </div>
            <div><img src="https://img.icons8.com/fluency/48/000000/facebook-circled.png" width="40px"/>
                </div>
            <div><img src="https://img.icons8.com/fluency/48/000000/youtube-play.png" width="40px"/>
                </div>
            <div class="vl"></div>
        </div>
    </body>

{% endblock %}