{% extends 'base.html' %}

{% block css %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

<body>  
<div class="container-fluid" id= "sources"> 
{% block content %}
    <div style="margin-right: 15rem;">
        <h2 class="text-center all">ALL NEWS</h2>
    </div>
    <hr style="width: 79%; height: 10px; color: black; box-shadow: 5px solid black;">
    <div class="col container">
        <div class="row">
            <!-- <div> -->
                {% for all_news in general %}
                <div class="col-md-3 m-2">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{all_news.name}}</h5>
                                <p class="card-text">
                                    {{all_news.description | truncate(60)}}
                                </p>
                                <a href="/articles/{{ all_news.id}}"><button  type="button" class="btn btn-outline-danger" style="border-radius: 9px;" data-mdb-ripple-color="dark">View {{all_news.name}} Articles </button></a>
                            </div>
                        </div>
                    </div>
                </div>        
                {% endfor %}
            <!-- </div> -->
            <hr>
            
            <div class="container text-center">
                <h2 class=" all">TECHNOLOGY</h2>
            </div>
            <hr>
            <!-- <div> -->
                {% for all_news in tech %}
                <div class="col-md-3 m-2">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{all_news.name}}</h5>
                                <p class="card-text">
                                    {{all_news.description | truncate(60)}}
                                </p>
                                <a href="/articles/{{ all_news.id}}"><button  type="button" class="btn btn-outline-danger" style="border-radius: 9px;" data-mdb-ripple-color="dark">View {{all_news.name}} Articles </button></a>
                            </div>
                        </div>
                    </div>
                </div>        
                {% endfor %}
            <!-- </div> -->
            <hr>
            
            <div class="container text-center">
                <h2 class=" all">Business</h2>
            </div>
            <hr>
            <!-- <div> -->
                {% for all_news in business %}
                <div class="col-md-3 m-2">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{all_news.name}}</h5>
                                <p class="card-text">
                                    {{all_news.description | truncate(60)}}
                                </p>
                                <a href="/articles/{{ all_news.id}}"><button  type="button" class="btn btn-outline-danger" style="border-radius: 9px;" data-mdb-ripple-color="dark">View {{all_news.name}} Articles </button></a>
                            </div>
                        </div>
                    </div>
                </div>        
                {% endfor %}
            <!-- </div> -->
            <hr>
            
            <div class="container text-center">
                <h2 class=" all">Fun</h2>
            </div>
            <hr>
            <!-- <div> -->
                {% for all_news in fun %}
                <div class="col-md-3 m-2">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{all_news.name}}</h5>
                                <p class="card-text">
                                    {{all_news.description | truncate(60)}}
                                </p>
                                <a href="/articles/{{ all_news.id}}"><button  type="button" class="btn btn-outline-danger" style="border-radius: 9px;" data-mdb-ripple-color="dark">View {{all_news.name}} Articles </button></a>
                            </div>
                        </div>
                    </div>
                </div>        
                {% endfor %}
            <!-- </div> -->
            <hr>

            <!-- <div class="container"> -->
            
            {% for all_news in sports %}
            <div class="col-md-3 m-2">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{all_news.name}}</h5>
                            <p class="card-text">
                            {{all_news.description | truncate(60)}}
                            </p>
                            <a href="/articles/{{ all_news.id}}"><button  type="button" class="btn btn-outline-danger" style="border-radius: 9px;" data-mdb-ripple-color="dark">View {{all_news.name}} Articles </button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- </div>   -->
            <div class="container ">
                <h2 class="text-center all">Sports</h2>
            </div>
            <hr>
    
        </div>
    </div>
{% endblock %} 
</div>
</body>

